<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/editproductpost/<%= data._id %>" method="post" enctype="multipart/form-data">
         <table>

        <tr>
            <td>Product Name</td>
            <td><input type="text" name="product" id="" value="<%= data.product %>"></td>
        </tr>
         <tr>
            <td>Product Price</td>
            <td><input type="number" name="price" id="" value="<%= data.price %>"></td>
        </tr>
         <tr>
            <td>Product Description</td>
            <td><input type="text" name="description" id="" value="<%= data.description %>"></td>
        </tr>
        <tr>
            <td>Product Image</td>
            <td><input type="file" name="image" id="" value="<%= data.image %>"></td>
        </tr>
        <tr>
            <td><input type="submit" value="upload"></td>
        </tr>
    </table>
</form>
</body>